.fixed-contact-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background: #fff;
  padding: 8px;
  border-radius: 20px;
  border: 1px dotted $primary-color;
  z-index: 1005;
  // visibility: hidden;

  a {
    color: $primary-color;
    @extend .bold-font;
    @extend .flex;
    flex-direction: column;
  }
}

.subnav {
  position: absolute;
  padding: 10px 5px;
  background-color: #fff;
  border-radius: 50px;
  left: 50%;
  // transform: translateX(-50%);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
  z-index: 100;
  top: -77px;
  opacity: 0;
  transform: scaleY(0) translateX(-50%);
  transform-origin: bottom;
  transition: opacity 0.5s linear, transform 0.1s linear;
}

.subnav::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 25px;
  height: 25px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  bottom: -7px;
  border-radius: 3px;
  z-index: -1;
}

/* focus-within makes dropdown keyboard accessible */
.fixed-contact-btn:hover .subnav,
.fixed-contact-btn:focus-within .subnav {
  transform: scaleY(1) translateX(-50%);
  opacity: 1;
}

.subnav > ul {
  @extend .flex;
}

.subnav > ul > li {
  padding: 2px 8px;
  font-size: 0.75rem;
}
