footer {
  position: relative;
  @extend .flex;
  flex-direction: column;
  height: 335px;
  background: $primary-color;
  background-image: url(../img/suds.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: top;
  padding-bottom: 3vh;
}

.copyright {
  color: #fff;
  line-height: 1.7;
  margin-top: 10rem;
  font-size: 1rem;
  text-align: center;
}

.copyright-year {
  display: block;
  color: inherit;
}

.privacy-policy-link {
  text-decoration: underline;
}

.privacy-policy-link:hover {
  opacity: 0.8;
}
