footer {
  position: relative;
  @extend .flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 25vw;
  background: $primary-color;
  background-image: url(../img/suds.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: top;
}

.copyright {
  color: #fff;
  line-height: 1.7;
  margin-bottom: 3vw;
  font-size: 1rem;
  text-align: center;
}

.copyright-year {
  display: block;
  color: inherit;
}

.privacy-policy-link {
  text-decoration: underline;
}

.privacy-policy-link:hover {
  opacity: 0.8;
}
