.packages-container {
  // position: relative;
  margin: 35px;

  .sub-heading {
    display: block;
    @extend .medium-font;
    text-align: center;
    color: $primary-color;
    margin-bottom: -10px;
  }
}

/*---------------- PACKAGE CARDS ----------------*/

.packages {
  @extend .flex;

  .package-card {
    position: relative;
    background: #fff;
    box-shadow: 3px 7px 12px rgba(0, 0, 0, 0.2);
    padding: 30px 30px 50px 30px;
    border-radius: 20px;
    text-align: center;
    margin: 30px 20px;
    width: 275px;

    .package-title {
      @extend .small-font;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .package-price {
      position: relative;
      @extend .large-font;
      @extend .bold-font;
      letter-spacing: -2px;
    }

    .dollar-sign {
      font-size: 1.7rem;
    }

    .frequency {
      display: block;
      font-size: 0.8rem;
      opacity: 0.7;
      padding-bottom: 30px;
    }

    ul {
      padding: 30px 0 40px 0;
      text-align: left;
      border-top: 1px solid lighten($primary-text-color, 30%);
    }

    li {
      padding: 7px;
    }

    .checked:before {
      @extend .bold-font;
      content: "✓";
      padding-right: 8px;
      color: $primary-color;
    }

    .unchecked {
      opacity: 0.4;
    }

    .unchecked:before {
      @extend .bold-font;
      content: "x";
      padding-right: 8px;
      opacity: 0.6;
    }

    .most-popular {
      @extend .flex;
      @extend .x-bold-font;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -15px;
      font-size: 0.75rem;
      letter-spacing: 1px;
      color: #fff;
      height: 30px;
      width: 150px;
      background: $primary-color;
      border-radius: 20px;
      box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .mobile-break {
      display: none;
    }
  }
}
